<%- include('./partials/header'); %>
  <body>
    <!-- Fixed Navbar -->
    <%- include('./partials/nav'); %>
    <div class="mt-40">
      <%- include('./partials/landing3'); %> 
    </div>
 
      <%- include('./partials/footer'); %>
  </body>
</html>
